* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.__container {
    max-width: 1024px;
    margin: 0 auto;
}

.bg_blue {
    background-color: rgba(0, 137, 123, 0.2);

}

.__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
    opacity: 0.87;
}

.__blue-titles {
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #00897B;
    opacity: 0.87;
}

.__black_titles {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 16px;
}

.__subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.__red-button {
    border: none;
    width: 94px;
    height: 42px;
    background-color: #E82E00;
    color: #fff;
}

.header {
    position: relative;
    min-height: 64px;
    border-bottom: 2px solid #CCE7E5;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 23px;
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E82E00;
    padding: 20px;
}


.navbar a {
    cursor: pointer;
}

.navbar-burger {
    display: none;
    cursor: pointer;
}

.navbar-burger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    background-color: #E82E00;
}

@media (max-width:425px) {
    .navbar-burger {
        display: block;
        position: absolute;
        right: 5%;
        top: 25%;
    }

    .navbar {
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 100%;
        top: 8vh;
        background-color: #fff;
        z-index: 2;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        row-gap: 40px;
        font-size: 30px;
    }

    .navbar-active {
        display: flex;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

.main {}

.block1_container {
    min-height: 432px;
    margin-top: 176px;
    margin-bottom: 88px;
    padding: 20px;
    position: relative;
}

.block1_container h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #00897B;
    margin-bottom: 32px;
}

.block1_container p {
    max-width: 600px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.block1_img {
    max-width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 32px solid #E82E00;
    margin-bottom: 120px;
    cursor: pointer;
}

@media (max-width: 425px) {
    .down-arrow {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 16px solid #E82E00;
    }
}


.about-team-main-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 512px));
    grid-template-rows: 368px 320px 320px;
    justify-content: center;
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .about-team-main-block {
        display: flex;
        flex-direction: column;
    }
}

.about-team-up,
.about-team {
    position: relative;
}

.about-team1 h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #00897B;
    margin-bottom: 16px;

}

.about-team p {
    width: 356px;
}

.about-team-up p {
    width: 445px;
}

.about-team-tites {
    padding: 32px 0 0 40px;
}

.about-svg {
    position: absolute;
    right: 64px;
    bottom: 48px;
}

/* Our Team Block*/

.our-team-block-main {
    margin-bottom: 80px;
}


.our-team-block-main h1 {
    margin-bottom: 35px;
}

.our-team-block_container {
    display: flex;
    column-gap: 28px;
}

@media (max-width: 425px) {
    .our-team-block_container {
        flex-direction: column;
    }
}

.our-team-block_container-sub {}

.our-team-block_container-sub p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4A4A4A;
}

.our-team-block-square {
    width: 296px;
    height: 312px;
    background-color: #CCE7E5;
    margin-bottom: 32px;
}


/* Portfolio Block*/

.portfolio-block-main {
    margin-bottom: 80px;
}

.portfolio-block-main>h1 {
    margin-bottom: 35px;
}

.portfolio-block-sub {
    display: flex;
    column-gap: 32px;
    margin-bottom: 20px;
}

.portfolio-block-sub:not(:last-child) {
    border-bottom: 1px solid #CCE7E5;
}

.portfolio-block-rect {
    width: 424px;
    height: 318px;
    background-color: #CCE7E5;
    margin-bottom: 20px;
}

.portfolio-block-sub-info {
    width: 515px;
    display: flex;
    flex-direction: column;
}

.portfolio-block-sub-info {
    margin-bottom: 16px;
}

.portfolio-block-sub-info>button {
    justify-self: flex-end;
    align-items: flex-end;
}

.portfolio-block-sub-info p {
    height: 150px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
    margin-bottom: 69px;
}


.portfolio-block-sub-info a {
    padding: .8rem 2.2rem;
}

/* Footer*/

.footer {
    max-width: 100%;
    height: 280px;
    background-color: #CCE7E5;
}

.footer h1 {}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 125px;
    padding-top: 35px;
}

.footer-block-left {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-block-left p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
}

.footer-block-left a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #E82E00;
}

.footer-block-right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.footer-block-right p {
    width: 366px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
}

.footer-block-right button {
    width: 120px;
    height: 42px;
    background-color: #E82E00;

}

.footer-block-right a {
    padding: .8rem 2.4rem;
    text-align: center;
}